 .contact-page{
   background-color: #efefef;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 12px;
   margin: 0px 0px;
   padding: 10px 10px;
   .header{
     font-size:16px;
     color: #3f3f3f;
   }
 
 }

